<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.munit.launchconfig">
<listAttribute key="Mpath">
<listEntry value="C:\Users\EAI\AnypointStudio\workspace\validation_example\src\test\munit\validation_example-test-suite.xml"/>
</listAttribute>
<stringAttribute key="Ppath" value="C:\Users\EAI\AnypointStudio\workspace\validation_example"/>
<stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.3.8.5.ee"/>
<listAttribute key="mule-project-names">
<listEntry value="validation_example_test_cases"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/validation_example_test_cases"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="validation_example-test-suite.xml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="validation_example_test_cases"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.library.path=&#13;&#10;-DmunitProjectName=validation_example&#13;&#10;-Dlog4j.skipJansi=true"/>
<stringAttribute key="resource" value="validation_example-test-suite.xml"/>
</launchConfiguration>
